<%include includes/header.html%>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>programming language</h1>
                <p>A vocabulary and set of grammatical rules for instructing a computer to perform specific tasks. The term programming language usually refers to high-level languages, such as BASIC, C, C++, COBOL, FORTRAN, Ada, and Pascal.</p>
                <a href="https://www.w3schools.com/" class="btn btn-primary btn-lg">Learn HTML,CSS,JS at W3School.com <br></a>
                <a href="https://www.sololearn.com/" class="btn btn-primary btn-lg">Learn C++,Python at Sololearn.com <br></a>
            </div>
        </div>
    </header>
<%include includes/footer.html%>
