<%include includes/header.html%>
  <link href="css/shopheader.css" rel="stylesheet">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<header>
		<div class="header-content">
				<div class="header-content-inner">
          <h1><p style="font-size:60px">SALE</h1>
          <p style="font-size:30px">UP TO 70% OFF</P>
    <a class="btn btn-primary btn-lg" href="http://www.amazon.in/">
      Shop now
      <br>
    </a>
				</div>
		</div>
</header>
<table>
  <tr>
    <th>Nama barang</th>
    <th>Jumlah barang</th>
    <th>Harga</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>

<%include includes/footer.html%>
