<%include includes/header.html%>
 <header>
     <div class="header-content">
         <div class="header-content-inner">
             <h1><p style="font-size:50px">Adaptive cyber security decision support to prevent cyber attacks</h1>
             <p>Recognizing the complexity of cyber attacks and the multi-stakeholder nature of tackling cyber security are the key components of a new data-driven cyber security system currently being developed. The aim is to support organizations of all sizes in maintaining adequate levels of cyber security through a semi-automatic, regularly updated, organization-tailored security assessment of their digital infrastructures. </p>
             <a href="https://www.sciencedaily.com/releases/2017/06/170627141954.htm" class="btn btn-primary btn-lg">Continue reading</a>
         </div>
     </div>
 </header>

 <section class="content">
     <div class="container">
         <div class="row">
             <div class="col-sm-6">
                 <img class="img-responsive img-circle center-block" src="images/cj.png" alt="">
             </div>
             <div class="col-sm-6">
               <h2 class="section-header">Clickjacking</h2>
               <p class="lead text-muted">Clickjacking, also known as a "UI redress attack", is when an attacker uses multiple transparent or opaque layers to trick a user into clicking on a button or link on another page when they were intending to click on the the top level page. Thus, the attacker is "hijacking" clicks meant for their page and routing them to another page, most likely owned by another application, domain, or both.
Using a similar technique, keystrokes can also be hijacked. With a carefully crafted combination of stylesheets, iframes, and text boxes, a user can be led to believe they are typing in the password to their email or bank account, but are instead typing into an invisible frame controlled by the attacker. </p>
               <a href="https://www.owasp.org/index.php/Clickjacking" class="btn btn-primary btn-lg">Continue reading</a>
             </div>

         </div>
     </div>
 </section>

 <section class="content">
     <div class="container">
         <div class="row">
             <div class="col-sm-6">
                 <img class="img-responsive img-circle center-block" src="images/cj.png" alt="">
             </div>
             <div class="col-sm-6">
               <h2 class="section-header">Hijacking</h2>
               <p class="lead text-muted">Hijacking is a type of network security attack in which the attacker takes control of a communication - just as an airplane hijacker takes control of a flight - between two entities and masquerades as one of them. In one type of hijacking (also known as a man in the middle attack), the perpetrator takes control of an established connection while it is in progress. The attacker intercepts messages in a public key exchange and then retransmits them, substituting their own public key for the requested one, so that the two original parties still appear to be communicating with each other directly. The attacker uses a program that appears to be the server to the client and appears to be the client to the server. This attack may be used simply to gain access to the messages, or to enable the attacker to modify them before retransmitting them.</p>
               <a href="http://searchsecurity.techtarget.com/definition/hijacking" class="btn btn-primary btn-lg">Continue reading</a>
             </div>

         </div>
     </div>
 </section>
<%include includes/footer.html%>
