<%include includes/header.html%>

 <section class="content content-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
              <h2 class="section-header">The hacker Ethic</h2>
              <p class="lead text-light">Hacker ethic is a term for the moral values and philosophy that are common in hacker culture. In other words, those who possess positive hacker ethic acknowledge that sharing information and data responsibly is very beneficial and helpful.[1] Whilst the philosophy originated at the Massachusetts Institute of Technology in the 1950s–1960s, the term hacker ethic is attributed to journalist Steven Levy as described in his 1984 book titled Hackers: Heroes of the Computer Revolution. The key points within this ethic are access, freedom of information, and improvement to quality of life. While some tenets of hacker ethic were described in other texts like Computer Lib/Dream Machines (1974) by Ted Nelson, Levy appears to have been the first to document both the philosophy and the founders of the philosophy.

</p>
              <a href="https://www.cybrary.it/?gclid=Cj0KCQjwqvvLBRDIARIsAMYuvBEtnlj1igtZb5qqJfSPseBRzyV3rOk8zAqoAf0qXPp2Vc_q0NTIRz4aAnpPEALw_wcB" class="btn btn-default btn-lg">Test It</a>
            </div>
            <div class="col-sm-6">
                <img class="img-responsive img-circle center-block" src="images/ethics_Hacker.png" alt="">
            </div>

        </div>
    </div>
</section>

<section class="content content-2">
   <div class="container">
       <div class="row">
           <div class="col-sm-6">
             <h2 class="section-header">Sea</h2>
             <p class="lead text-light">A sea is a large body of salt water that is surrounded in whole or in part by land.[1][2][a] More broadly, "the sea" is the interconnected system of Earth's salty, oceanic waters—considered as one global ocean or as several principal oceanic divisions. The sea moderates Earth's climate and has important roles in the water cycle, carbon cycle, and nitrogen cycle. Although the sea has been traveled and explored since prehistory, the modern scientific study of the sea—oceanography—dates broadly to the British Challenger expedition of the 1870s.[3] The sea is conventionally divided into up to five large oceanic sections—including the International Hydrographic Organization's four named oceans[4] (the Atlantic, Pacific, Indian, and Arctic) and the Southern Ocean;[5] smaller, second-order sections, such as the Mediterranean, are known as seas.</p>
             <a href="https://en.wikipedia.org/wiki/Sea" class="btn btn-default btn-lg">Continue reading</a>
           </div>
           <div class="col-sm-6">
               <img class="img-responsive img-circle center-block" src="images/uds.jpg" alt="">
           </div>

       </div>
   </div>
</section>

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-responsive img-circle center-block" src="images/website.jpg" alt="">
            </div>
            <div class="col-sm-6">
              <h2 class="section-header">Digital design</h2>
              <p class="lead text-muted">Within the ever-expanding world of digital media, digital design is a growing field, according to the U.S. Bureau of Labor Statistics (BLS, www.bls.gov). The title of 'digital designer' is broad and encompasses the areas of print, video, and multimedia. Digital designers may work in: Web design. Animation.</p>
              <a href="http://cam.ucdenver.edu/visual-arts/digital-design/" class="btn btn-primary btn-lg">Classify It</a>
            </div>

        </div>
    </div>
</section>


<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1><p style="font-size:50px">Adaptive cyber security decision support to prevent cyber attacks</h1>
            <p>Recognizing the complexity of cyber attacks and the multi-stakeholder nature of tackling cyber security are the key components of a new data-driven cyber security system currently being developed. The aim is to support organizations of all sizes in maintaining adequate levels of cyber security through a semi-automatic, regularly updated, organization-tailored security assessment of their digital infrastructures. </p>
            <a href="https://www.sciencedaily.com/releases/2017/06/170627141954.htm" class="btn btn-primary btn-lg">Continue reading</a>
        </div>
    </div>
</header>

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-responsive img-circle center-block" src="images/cj.png" alt="">
            </div>
            <div class="col-sm-6">
              <h2 class="section-header">Clickjacking</h2>
              <p class="lead text-muted">Clickjacking, also known as a "UI redress attack", is when an attacker uses multiple transparent or opaque layers to trick a user into clicking on a button or link on another page when they were intending to click on the the top level page. Thus, the attacker is "hijacking" clicks meant for their page and routing them to another page, most likely owned by another application, domain, or both.
Using a similar technique, keystrokes can also be hijacked. With a carefully crafted combination of stylesheets, iframes, and text boxes, a user can be led to believe they are typing in the password to their email or bank account, but are instead typing into an invisible frame controlled by the attacker. </p>
              <a href="https://www.owasp.org/index.php/Clickjacking" class="btn btn-primary btn-lg">Continue reading</a>
            </div>

        </div>
    </div>
</section>

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-responsive img-circle center-block" src="images/cj.png" alt="">
            </div>
            <div class="col-sm-6">
              <h2 class="section-header">Hijacking</h2>
              <p class="lead text-muted">Hijacking is a type of network security attack in which the attacker takes control of a communication - just as an airplane hijacker takes control of a flight - between two entities and masquerades as one of them. In one type of hijacking (also known as a man in the middle attack), the perpetrator takes control of an established connection while it is in progress. The attacker intercepts messages in a public key exchange and then retransmits them, substituting their own public key for the requested one, so that the two original parties still appear to be communicating with each other directly. The attacker uses a program that appears to be the server to the client and appears to be the client to the server. This attack may be used simply to gain access to the messages, or to enable the attacker to modify them before retransmitting them.</p>
              <a href="http://searchsecurity.techtarget.com/definition/hijacking" class="btn btn-primary btn-lg">Continue reading</a>
            </div>

        </div>
    </div>
</section>

<%include includes/footer.html%>
