<%include includes/header.html%>
  <link href="css/inventory.css" rel="stylesheet">

  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
  <header>
  		<div class="header-content">
  				<div class="header-content-inner">
  						<h1><p style="font-size:50px">SALE</h1>
                <p style="font-size:30px">UP TO 70% OFF</P>
  				</div>
  		</div>
  </header>
    <table>
      <tr>
        <th>Item name</th>
        <th>Item Left</th>
        <th>Item Price</th>
      </tr>
      <tr>
        <td>Hoe</td>
        <td>19</td>
        <td>$9<sup>33</td>
      </tr>
      <tr>
        <td>Head pan</td>
        <td>10</td>
        <td>$3</td>
      </tr>
      <tr>
        <td>Masonry trowel</td>
        <td>8</td>
        <td>$3<sup>99</td>
      </tr>
      <tr>
        <td>Measurement tape</td>
        <td>7</td>
        <td>$2<sup>99</td>
      </tr>
      <tr>
        <td>Wheel barrow</td>
        <td>14</td>
        <td>$16<sup>33</td>
      </tr>
      <tr>
        <td>Concrete mixer</td>
        <td>3</td>
        <td>$30<sup>59</td>
      </tr>
      <tr>
        <td>Sand screening machine</td>
        <td>30</td>
        <td>$10</td>
      </tr>
      <tr>
        <td>Chisel</td>
        <td>15</td>
        <td>$5<sup>66</td>
      </tr>
      <tr>
        <td>Crow bar</td>
        <td>9</td>
        <td>$7</td>
      </tr>
      <tr>
        <td>Framing square</td>
        <td>35</td>
        <td>$5<sup>99</td>
      </tr>
      <tr>
        <td>Framing hammer</td>
        <td>25</td>
        <td>$5</td>
      </tr>
      <tr>
        <td>Line level</td>
        <td>7</td>
        <td>$11<sup>25</td>
      </tr>
      <tr>
        <td>Torpedo level</td>
        <td>4</td>
        <td>$4<sup>44</td>
      </tr>
      <tr>
        <td>Cordless drill</td>
        <td>8</td>
        <td>$14</td>
      </tr>
      <tr>
        <td>Circural saw</td>
        <td>6</td>
        <td>$9</td>
      </tr>
      <tr>
        <td>Hand saw</td>
        <td>5</td>
        <td>$6<sup>55</td>
      </tr>
      <tr>
        <td>Block pane / Jack pane</td>
        <td>2</td>
        <td>$13</td>
      </tr>
      <tr>
        <td>Earth rammer</td>
        <td>3</td>
        <td>$45</td>
      </tr>
      <tr>
        <td>Ladder</td>
        <td>4</td>
        <td>$13<sup>50</td>
      </tr>
      <tr>
        <td>Digging bar</td>
        <td>5</td>
        <td>$6</td>
      </tr>
      <tr>
        <td>Polishers</td>
        <td>1</td>
        <td>$19</td>
      </tr>
      <tr>
        <td>Measuring wheel</td>
        <td>3</td>
        <td>$9<sup>99</td>
      </tr>
      <tr>
        <td>Measuring box</td>
        <td>2</td>
        <td>$13</td>
      </tr>
      <tr>
        <td>Tile cutter</td>
        <td>9</td>
        <td>$9</td>
      </tr>
      <tr>
        <td>Putty knife</td>
        <td>15</td>
        <td>$8<sup>33</td>
      </tr>
      <tr>
        <td>Vacuum blower</td>
        <td>7</td>
        <td>$29<sup>55</td>
      </tr>
    </table>

<%include includes/footer.html%>
