<%include includes/header.html%>

		<footer class="page-footer">
        <div class="contact">
        	<div class="container">
				<h2 class="section-heading">Contact Us</h2>
				<p><span class="glyphicon glyphicon-earphone"></span><br> (+62)812-1350-7373</p>
				<p><span class="glyphicon glyphicon-envelope"></span><br> info@example.com</p>
        	</div>
        </div>

    </footer>

<style>
	.bordered {
		width: 500px;
		height: 250px;
		padding: 20px;
		border: 10px inset yellowgreen;
			}
</style>

		<div class="bordered">
					<form action="/send-message" method="post">
							Name:<br>
							<input type="text" name="name"><br>
							E-mail:<br>
							<input type="text" name="mail"><br>
							Comment:<br>
							<input type="text" name="comment" size="50"><br><br>
							<input type="submit" value="Send" >
							<input type="reset" value="Reset" > <br><br>
						</form>
		</div>

<%include includes/footer.html%>
