<%include includes/header.html%>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="images/website.jpg" alt="">
                </div>
                <div class="col-sm-6">
                	<h2 class="section-header">Digital Design</h2>
                	<p class="lead text-muted">Within the ever-expanding world of digital media, digital design is a growing field, according to the U.S. Bureau of Labor Statistics (BLS, www.bls.gov). The title of 'digital designer' is broad and encompasses the areas of print, video, and multimedia. Digital designers may work in: Web design. Animation.</p>
                	<a href="http://cam.ucdenver.edu/visual-arts/digital-design/" class="btn btn-primary btn-lg">Classify It</a>
                </div>

            </div>
        </div>
    </section>

     <section class="content content-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                	<h2 class="section-header">The hacker Ethic</h2>
                	<p class="lead text-light">Hacker ethic is a term for the moral values and philosophy that are common in hacker culture. In other words, those who possess positive hacker ethic acknowledge that sharing information and data responsibly is very beneficial and helpful.[1] Whilst the philosophy originated at the Massachusetts Institute of Technology in the 1950s–1960s, the term hacker ethic is attributed to journalist Steven Levy as described in his 1984 book titled Hackers: Heroes of the Computer Revolution. The key points within this ethic are access, freedom of information, and improvement to quality of life. While some tenets of hacker ethic were described in other texts like Computer Lib/Dream Machines (1974) by Ted Nelson, Levy appears to have been the first to document both the philosophy and the founders of the philosophy.

</p>
                	<a href="https://www.cybrary.it/?gclid=Cj0KCQjwqvvLBRDIARIsAMYuvBEtnlj1igtZb5qqJfSPseBRzyV3rOk8zAqoAf0qXPp2Vc_q0NTIRz4aAnpPEALw_wcB" class="btn btn-default btn-lg">Test It</a>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="images/ethics_Hacker.png" alt="">
                </div>

            </div>
        </div>
    </section>

    <section class="content content-2">
       <div class="container">
           <div class="row">
               <div class="col-sm-6">
                 <h2 class="section-header">Sea</h2>
                 <p class="lead text-light">A sea is a large body of salt water that is surrounded in whole or in part by land.[1][2][a] More broadly, "the sea" is the interconnected system of Earth's salty, oceanic waters—considered as one global ocean or as several principal oceanic divisions. The sea moderates Earth's climate and has important roles in the water cycle, carbon cycle, and nitrogen cycle. Although the sea has been traveled and explored since prehistory, the modern scientific study of the sea—oceanography—dates broadly to the British Challenger expedition of the 1870s.[3] The sea is conventionally divided into up to five large oceanic sections—including the International Hydrographic Organization's four named oceans[4] (the Atlantic, Pacific, Indian, and Arctic) and the Southern Ocean;[5] smaller, second-order sections, such as the Mediterranean, are known as seas.</p>
                 <a href="https://en.wikipedia.org/wiki/Sea" class="btn btn-default btn-lg">Continue reading</a>
               </div>
               <div class="col-sm-6">
                   <img class="img-responsive img-circle center-block" src="images/uds.jpg" alt="">
               </div>

           </div>
       </div>
   </section>
<%include includes/footer.html%>
